.top-head-widget .wp-block-column,
ul.sp-contact-info {
	margin: 0;
}
.wp-block-column:not(:only-child) {
    flex-basis: calc(50%)!important;
    flex-grow: 0;
}
.site-footer {
	text-align: right;
}
@media screen and (min-width: 56.875em) {
	.sidebar {
	    margin-right: 71%!important;
	}
}
@media (max-width: 780px) {
	.wp-block-column:nth-child(2n) {
		margin-right: 0!important;
	}
}